{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "editor.formatOnSave": true,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}
