{
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 40,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "editor.formatOnSave": true,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
  }
