@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: auto;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

.current-page {
    @apply text-secondary-color;
}

.nav-link {
    @apply border-b border-transparent hover:border-white;
}

.button {
    @apply rounded-full bg-button-normal-color py-4 text-center text-white shadow-xl transition duration-300 ease-in-out hover:scale-110 hover:bg-button-hover-color hover:shadow-gray-400/75;
}

#videoDialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
