@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: auto;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

.current-page {
    @apply text-secondary-color;
}

::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    width: 10px !important;
    height: 10px !important;
    background: content-box linear-gradient(to bottom, #193e5b, #04edae);
    border-radius: 17px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

.button {
    @apply rounded-full border border-transparent bg-button-normal-color px-6 py-4 text-center text-white hover:bg-button-hover-color;
}
